@font-face {
    font-family: "s2";
    src: url(../font/2V_mouV5odI0UgtVODTOwvesZW2xOQ-xsNqO47m55DA.woff) format("woff");
}
@font-face {
    font-family: "s1";
    src: url(../font/foo-webfont.woff2) format("woff2");
}
@font-face {
    font-family: "s3";
    src: url(../font/montserrat-v24-latin-500.woff2) format("woff2");
}
@font-face {
    font-family: "s4";
    src: url(../font/sccV8o9st-AMv7Su44YKKQLUuEpTyoUstqEm5AMlJo4.woff) format("woff");
}