@import "reset.css";
@import "font.css";
body {
  overflow-x: hidden;
}

#main-content .headerbox {
  position: relative;
  z-index: 2;
}
#main-content .headerbox .groupback {
  pointer-events: none;
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
}
#main-content .headerbox .groupback .groupback ::before {
  content: "";
  display: block;
}
#main-content .headerbox .groupback .backpage {
  width: 100%;
  opacity: 1;
}
#main-content .headerbox .groupback .backpage picture {
  max-width: 100%;
}
#main-content .headerbox .groupback .backpage picture .backimg {
  width: 1947px;
}
#main-content .headerbox .groupback .calamarimotion01 {
  position: absolute;
  left: 1002px;
  top: 508px;
}
#main-content .headerbox .groupback .calamarimotion01 picture .motion01 {
  width: 416px;
  max-width: 100%;
  height: auto;
}
#main-content .headerbox .groupback .calamarimotion02 {
  position: absolute;
  left: 64px;
  top: 339px;
}
#main-content .headerbox .groupback .calamarimotion02 picture .motion02 {
  width: 282px;
  max-width: 100%;
  height: auto;
}
#main-content .headerbox .groupback .calamarimotion03 {
  position: absolute;
  left: 552px;
  top: 500px;
}
#main-content .headerbox .groupback .calamarimotion03 picture .motion03 {
  width: 323px;
  max-width: 100%;
  height: auto;
}
#main-content .headerbox .groupback .calamarimotion04 {
  position: absolute;
  left: 256px;
  top: 91px;
}
#main-content .headerbox .groupback .calamarimotion04 picture .motion04 {
  width: 1193px;
  max-width: 100%;
  height: auto;
}
#main-content .headerbox .groupback .calamarimotion05 {
  opacity: 1;
  position: absolute;
  left: -48px;
  top: 80px;
}
#main-content .headerbox .groupback .calamarimotion05 picture .motion05 {
  width: 816px;
  max-width: 100%;
  height: auto;
}
#main-content .headerbox .groupback .homelogo {
  opacity: 1;
  position: absolute;
  right: 0;
  top: 80px;
}
#main-content .headerbox .groupback .homelogo .view picture .pos {
  width: 560px;
  max-width: 100%;
}
#main-content .headerbox .groupback .homelogo .relatext {
  position: relative;
  right: -120px;
  top: 0;
}
#main-content .headerbox .groupback .homelogo .relatext a {
  position: absolute;
  left: 90px;
  top: -16px;
}
#main-content .headerbox .groupback .homelogo .relatext a .drip {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 8px;
  background: yellow;
  font-family: "s2";
  font-weight: 700;
}
#main-content .headerbox .groupback .headerbanner {
  position: relative;
  top: -20px;
}
#main-content .headerbox .groupback .headerbanner .banner01 {
  height: 110px;
  background-image: url("../../public/img/home/banner-design1-medium-up.png");
  transform: rotate(1deg);
  transform-origin: 90% 50%;
  z-index: 2;
}
#main-content .headerbox .groupback .headerbanner .banner02 {
  top: 70px;
  height: 110px;
  background-image: url("../../public/img/home/banner-green-medium-up.png");
  transform: rotate(-1deg);
  transform-origin: 90% 50%;
  z-index: 2;
}
#main-content .maintool {
  position: relative;
}
#main-content .maintool .List01 {
  height: 340vh;
  background-position: top;
  background-image: url("../../public/img/home/tapes-black.jpg");
}
#main-content .maintool .List01 .Lvideo01 {
  z-index: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-content .maintool .List01 .Lvideo01 .Ltool01 {
  position: relative;
}
#main-content .maintool .List01 .Lvideo01 .Ltool01 .element01 picture .tape1 {
  position: absolute;
  top: 3rem;
  left: -3rem;
  z-index: 4;
  transform: rotate(-21deg);
}
#main-content .maintool .List01 .Lvideo01 .Ltool01 .element01 picture .tape2 {
  position: absolute;
  top: 28rem;
  right: -4rem;
  transform: rotate(-14deg);
  z-index: 4;
}
#main-content .maintool .List01 .Lvideo01 .Ltool01 .element03 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10% 0 calc(var(8px, 8px) * 6) 0;
  position: relative;
}
#main-content .maintool .List01 .Lvideo01 .Ltool01 .element03 .titlebanner {
  background: #ff505e;
  display: inline-block;
  transform: rotate(-4deg);
  z-index: 4;
  text-align: center;
  line-height: 1;
}
#main-content .maintool .List01 .Lvideo01 .Ltool01 .element03 .titlebanner h2 {
  font-family: "s4";
  font-weight: 700;
  font-size: 2rem;
  padding: 16px 40px 24px;
}
#main-content .maintool .List01 .Lvideo01 .Ltool01 .element03 .titlebanner::before {
  content: "";
  background-position: 100%;
  left: -61px;
  width: 62px;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  position: absolute;
  background-image: url(../../public/img//home/left-tape-red.svg);
}
#main-content .maintool .List01 .Lvideo01 .Ltool01 .element03 .titlebanner::after {
  content: "";
  background-position: 0;
  right: -58px;
  top: 0;
  width: 59px;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  position: absolute;
  background-image: url(../../public/img//home/right-tape-red.svg);
}
#main-content .maintool .List01 .Lvideo01 .Ltool01 .element03 .inview button {
  z-index: 3;
  position: relative;
  cursor: pointer;
  border: none;
  transform: rotate(3deg);
  border: 5px solid white;
  display: inline-block;
  padding: 0;
}
#main-content .maintool .List01 .Lvideo01 .Ltool01 .element03 .inview button .buton {
  bottom: 0;
  left: 50%;
  margin: 10% 0 auto;
  top: 0;
  color: rgba(41, 41, 41, 0.3176470588);
  transform: translate(-50%, -10%);
  width: 40%;
  z-index: 10;
  position: absolute;
}
#main-content .maintool .List01 .Lvideo01 .Ltool01 .element03 .inview button .buton .one {
  border-radius: 100px;
  height: 270px;
  background: rgba(0, 0, 0, 0.6901960784);
}
#main-content .maintool .List01 .Lvideo01 .Ltool01 .element03 .inview button .buton .plays {
  position: absolute;
  top: 70px;
  left: 110px;
  color: #6af7ce;
}
#main-content .maintool .List01 .Lvideo01 .Ltool02 .element06 picture {
  position: absolute;
  right: 0;
  top: 30em;
}
#main-content .maintool .List01 .Lvideo01 .Ltool02 .element07 {
  width: 100%;
  left: 0;
  top: 42em;
  position: absolute;
}
#main-content .maintool .List01 .Lvideo01 .Ltool02 .element07 .bo07 {
  position: absolute;
  z-index: 2;
  font-family: "s1";
  width: 530px;
  height: 255px;
  background-color: black;
  left: 25em;
  top: 5em;
  padding: 2em;
}
#main-content .maintool .List01 .Lvideo01 .Ltool02 .element07 .bo07::before {
  background-repeat: repeat-y;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: -2em;
  width: 40px;
  z-index: -1;
  background-image: url("../../public/img/home/left-black-tape-container.svg");
}
#main-content .maintool .List01 .Lvideo01 .Ltool02 .element07 .bo07::after {
  background-repeat: repeat-y;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 33em;
  width: 40px;
  z-index: -1;
  background-image: url("../../public/img/home/right-black-tape-container.svg");
}
#main-content .maintool .List01 .Lvideo01 .Ltool02 .element07 .bo07 h2 {
  white-space: pre-wrap;
  left: 1em;
  top: -2.2em;
  margin: auto;
  position: absolute;
  transform: rotate(-5deg);
  color: #ff9750;
  z-index: 1;
  font-size: 50px;
  text-align: center;
}
#main-content .maintool .List01 .Lvideo01 .Ltool02 .element07 .bo07 h2 span {
  display: block;
  color: white;
  font-size: 80px;
  text-transform: uppercase;
}
#main-content .maintool .List01 .Lvideo01 .Ltool02 .element07 .bo07 p {
  font-family: "s2";
  font-size: 23px;
  color: white;
}
#main-content .maintool .List01 .Lvideo01 .Ltool02 .element07 .bo07 .noLink {
  font-family: "s2";
  font-weight: 700;
  font-size: 1.4rem;
  position: absolute;
  top: 10rem;
  left: 6.2rem;
  background: #af50ff;
  width: 350px;
  height: 60px;
  border-radius: 15px;
  text-align: center;
  padding: 1em;
}
#main-content .maintool .List01 .Lvideo01 .Ltool02 .element07 .bo07 .noLink a {
  color: black;
}
#main-content .maintool .List01 .Lvideo01 .Ltool02 .element08 {
  position: absolute;
  right: 22em;
  top: 40em;
  transform: rotate(5deg);
  border: 8px solid white;
}
#main-content .maintool .List01 .Lvideo01 .Ltool02 .element08 picture .tape01 {
  position: absolute;
  top: -3rem;
  left: 12rem;
}
#main-content .maintool .List01 .Lvideo02 .back02 {
  position: absolute;
  right: 17em;
  top: 90em;
}
#main-content .maintool .List01 .Lvideo02 .colorbox01 {
  position: absolute;
  top: 82em;
  left: 14em;
  transform: rotate(-4deg);
}
#main-content .maintool .List01 .Lvideo02 .colorbox01 .bluemo {
  position: absolute;
}
#main-content .maintool .List01 .Lvideo02 .colorbox01 .bluemo .st0 {
  fill: #603bff;
}
#main-content .maintool .List01 .Lvideo02 .colorbox01 h2 {
  position: absolute;
  left: 4em;
  top: 3.3em;
  width: 520px;
  color: white;
  font-weight: 800;
  font-family: "s2";
  font-size: 35px;
  text-align: center;
}
#main-content .maintool .List01 .Lvideo02 .colorbox01 video {
  position: absolute;
  top: 13em;
  left: 12.5em;
}
#main-content .maintool .List01 .Lvideo02 .colorbox01 .noLink02 a {
  color: black;
  font-family: "s2";
  font-weight: 700;
  font-size: 1.4rem;
  position: absolute;
  top: 29rem;
  left: 19.2rem;
  background: #eaff3d;
  width: 200px;
  height: 70px;
  border-radius: 15px;
  text-align: center;
  padding: 1em;
}
#main-content .maintool .List01 .Lvideo02 .colorbox02 {
  position: absolute;
  top: 70em;
  right: 62em;
  transform: rotate(4deg);
}
#main-content .maintool .List01 .Lvideo02 .colorbox02 .reamonmo {
  position: absolute;
}
#main-content .maintool .List01 .Lvideo02 .colorbox02 .reamonmo .st02 {
  fill: #eaff3d;
}
#main-content .maintool .List01 .Lvideo02 .colorbox02 h2 {
  position: absolute;
  right: -41rem;
  top: 3.3em;
  width: 520px;
  color: white;
  font-weight: 800;
  font-family: "s2";
  font-size: 35px;
  text-align: center;
}
#main-content .maintool .List01 .Lvideo02 .colorbox02 video {
  position: absolute;
  top: 14em;
  right: -38em;
}
#main-content .maintool .List01 .Lvideo02 .colorbox02 .noLink03 a {
  color: white;
  font-family: "s2";
  font-weight: 700;
  font-size: 1.4rem;
  position: absolute;
  top: 29rem;
  left: 19rem;
  background: #603bff;
  width: 200px;
  height: 70px;
  border-radius: 15px;
  text-align: center;
  padding: 1em;
}
#main-content .maintool .List01 .Lvideo03 .banerover {
  position: relative;
  top: 90rem;
}
#main-content .maintool .List01 .Lvideo03 .banerover .banerover01 {
  height: 110px;
  background-image: url("../../public/img/home/banner-design2-medium-up-2x.png");
  transform: rotate(0.8deg);
  transform-origin: 90% 50%;
}
#main-content .maintool .List01 .Lvideo03 .banerover .banerover02 {
  height: 110px;
  background-image: url("../../public/img/home/banner-green-medium-up-2x.png");
  transform: rotate(-1deg);
  transform-origin: 10% 50%;
}
#main-content .maintool .List01 .Lvideo03 .rownews {
  position: absolute;
  top: 142rem;
  left: 40rem;
}
#main-content .maintool .List01 .Lvideo03 .rownews .stickertitle picture .t01 {
  position: absolute;
  width: 500px;
  top: 2rem;
  left: -2rem;
  transform: rotate(-4deg);
}
#main-content .maintool .List01 .Lvideo03 .rownews .stickertitle picture .t02 {
  width: 500px;
  left: 2rem;
  top: -1rem;
  transform: rotate(-4deg);
  position: absolute;
}
#main-content .maintool .List01 .Lvideo03 .rownews .stickername {
  transform: rotate(-4deg);
  background-color: white;
  position: absolute;
  width: 500px;
  height: 90px;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  font-size: 52px;
  font-weight: 500;
  font-family: "s1";
}
#main-content .maintool .List01 .Lvideo03 .row {
  position: absolute;
  top: 153rem;
  left: 46rem;
}
#main-content .maintool .List01 .Lvideo03 .row .rowtext a {
  font-size: 25px;
  font-weight: 700;
  font-family: "s4";
  color: white;
}
#main-content .maintool .List01 .Lvideo03 .rowimg .rowimgbox .rowimg01 .state01 {
  position: absolute;
  top: 160rem;
  left: 30rem;
}
#main-content .maintool .List01 .Lvideo03 .rowimg .rowimgbox .rowimg01 .state01:hover {
  transform: rotate(3deg);
  transition: 0.3s ease-in-out;
}
#main-content .maintool .List01 .Lvideo03 .rowimg .rowimgbox .rowimg01 .state01 .menobox .pasting01 {
  transform: rotate(-10deg);
  position: absolute;
  top: -1.1rem;
  width: 130px;
  left: 7rem;
}
#main-content .maintool .List01 .Lvideo03 .rowimg .rowimgbox .rowimg01 .state01 .menobox .pasting02 {
  position: absolute;
  top: 70px;
  left: 120px;
  width: 330px;
}
#main-content .maintool .List01 .Lvideo03 .rowimg .rowimgbox .rowimg01 .state01 .menobox .pasting03 {
  position: absolute;
  top: 277px;
  left: 118px;
  width: 330px;
  font-family: "s4";
  font-weight: 500;
}
#main-content .maintool .List01 .Lvideo03 .rowimg .rowimgbox .rowimg01 .state01 .menobox .pasting03 a {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
}
#main-content .maintool .List01 .Lvideo03 .rowimg .rowimgbox .rowimg01 .state01 .menobox .pasting04 {
  position: absolute;
  top: 385px;
  left: 117px;
}
#main-content .maintool .List01 .Lvideo03 .rowimg .rowimgbox .rowimg01 .state01 .menobox .pasting05 {
  position: absolute;
  top: 413px;
  right: 116px;
}
#main-content .maintool .List01 .Lvideo03 .rowimg .rowimgbox .rowimg01 .state02 {
  position: absolute;
  top: 160rem;
  left: 56rem;
}
#main-content .maintool .List01 .Lvideo03 .rowimg .rowimgbox .rowimg01 .state02:hover {
  transform: rotate(3deg);
  transition: 0.3s ease-in-out;
}
#main-content .maintool .List01 .Lvideo03 .rowimg .rowimgbox .rowimg01 .state02 .menobox .pasting01 {
  transform: rotate(-10deg);
  position: absolute;
  top: -1.1rem;
  width: 130px;
  left: 7rem;
}
#main-content .maintool .List01 .Lvideo03 .rowimg .rowimgbox .rowimg01 .state02 .menobox .pasting02 {
  position: absolute;
  top: 70px;
  left: 120px;
  width: 330px;
}
#main-content .maintool .List01 .Lvideo03 .rowimg .rowimgbox .rowimg01 .state02 .menobox .pasting03 {
  position: absolute;
  top: 277px;
  left: 118px;
  width: 330px;
  font-family: "s4";
  font-weight: 500;
}
#main-content .maintool .List01 .Lvideo03 .rowimg .rowimgbox .rowimg01 .state02 .menobox .pasting03 a {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
}
#main-content .maintool .List01 .Lvideo03 .rowimg .rowimgbox .rowimg01 .state02 .menobox .pasting04 {
  position: absolute;
  top: 385px;
  left: 117px;
}
#main-content .maintool .List01 .Lvideo03 .rowimg .rowimgbox .rowimg01 .state02 .menobox .pasting05 {
  position: absolute;
  top: 413px;
  right: 116px;
}
#main-content .maintool .List01 .Lvideo03 .rowimg .rowimgbox .rowimg02 .state03 {
  position: absolute;
  top: 160rem;
  left: 82rem;
}
#main-content .maintool .List01 .Lvideo03 .rowimg .rowimgbox .rowimg02 .state03:hover {
  transform: rotate(3deg);
  transition: 0.3s ease-in-out;
}
#main-content .maintool .List01 .Lvideo03 .rowimg .rowimgbox .rowimg02 .state03 .menobox .pasting01 {
  transform: rotate(-10deg);
  position: absolute;
  top: -1.1rem;
  width: 130px;
  left: 7rem;
}
#main-content .maintool .List01 .Lvideo03 .rowimg .rowimgbox .rowimg02 .state03 .menobox .pasting02 {
  position: absolute;
  top: 70px;
  left: 120px;
  width: 330px;
}
#main-content .maintool .List01 .Lvideo03 .rowimg .rowimgbox .rowimg02 .state03 .menobox .pasting03 {
  position: absolute;
  top: 277px;
  left: 118px;
  width: 330px;
  font-family: "s4";
  font-weight: 500;
}
#main-content .maintool .List01 .Lvideo03 .rowimg .rowimgbox .rowimg02 .state03 .menobox .pasting03 a {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
}
#main-content .maintool .List01 .Lvideo03 .rowimg .rowimgbox .rowimg02 .state03 .menobox .pasting04 {
  position: absolute;
  top: 385px;
  left: 117px;
}
#main-content .maintool .List01 .Lvideo03 .rowimg .rowimgbox .rowimg02 .state03 .menobox .pasting05 {
  position: absolute;
  top: 413px;
  right: 116px;
}
#main-content .maintool .List01 .Lvideo03 .rowimg .rowimgbox .rowimg02 .state04 {
  position: absolute;
  top: 160rem;
  left: 108rem;
}
#main-content .maintool .List01 .Lvideo03 .rowimg .rowimgbox .rowimg02 .state04:hover {
  transform: rotate(3deg);
  transition: 0.3s ease-in-out;
}
#main-content .maintool .List01 .Lvideo03 .rowimg .rowimgbox .rowimg02 .state04 .menobox .pasting01 {
  transform: rotate(-10deg);
  position: absolute;
  top: -1.1rem;
  width: 130px;
  left: 7rem;
}
#main-content .maintool .List01 .Lvideo03 .rowimg .rowimgbox .rowimg02 .state04 .menobox .pasting02 {
  position: absolute;
  top: 70px;
  left: 120px;
  width: 330px;
}
#main-content .maintool .List01 .Lvideo03 .rowimg .rowimgbox .rowimg02 .state04 .menobox .pasting03 {
  position: absolute;
  top: 277px;
  left: 118px;
  width: 330px;
  font-family: "s4";
  font-weight: 500;
}
#main-content .maintool .List01 .Lvideo03 .rowimg .rowimgbox .rowimg02 .state04 .menobox .pasting03 a {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
}
#main-content .maintool .List01 .Lvideo03 .rowimg .rowimgbox .rowimg02 .state04 .menobox .pasting04 {
  position: absolute;
  top: 385px;
  left: 117px;
}
#main-content .maintool .List01 .Lvideo03 .rowimg .rowimgbox .rowimg02 .state04 .menobox .pasting05 {
  position: absolute;
  top: 413px;
  right: 116px;
}
#main-content .maintool .List02 {
  position: relative;
  background-color: #ff505e;
  height: 135vh;
}
#main-content .maintool .List02 .pinkb .pinkgroup {
  display: flex;
  justify-content: space-around;
}
#main-content .maintool .List02 .pinkb .pinkgroup .left .leftbox picture .leftimg01 {
  position: absolute;
  top: 4rem;
  left: 21rem;
}
#main-content .maintool .List02 .pinkb .pinkgroup .left .leftbox picture .leftimg02 {
  position: absolute;
  top: 16rem;
  left: 52rem;
  width: 110px;
}
#main-content .maintool .List02 .pinkb .pinkgroup .left .leftbox picture .leftimg03 {
  position: absolute;
  top: 31rem;
  left: 20rem;
  width: 800px;
}
#main-content .maintool .List02 .pinkb .pinkgroup .right {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main-content .maintool .List02 .pinkb .pinkgroup .right .righttitle {
  white-space: pre-wrap;
  font-family: "s1";
  font-size: 3rem;
  width: 400px;
  text-align: center;
  margin: 0.5em 0;
}
#main-content .maintool .List02 .pinkb .pinkgroup .right .rigntbox {
  width: 550px;
  height: 800px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main-content .maintool .List02 .pinkb .pinkgroup .right .rigntbox iframe {
  width: 530px;
  height: 780px;
  border-radius: 15px;
}
#main-content .maintool .List02 .pinkb .pinkgroup .right .twitter {
  padding-top: 30px;
}
#main-content .maintool .List02 .pinkb .pinkgroup .right .twitter .twitterbox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1da1f2;
  width: 320px;
  height: 50px;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-family: "s4";
  font-weight: 700;
  font-size: 20px;
}
#main-content .maintool .List02 .pinkb .pinkgroup .right .twitter .twitterbox .iconright {
  margin-left: 6px;
}
#main-content .maintool .List03 {
  position: relative;
}
#main-content .maintool .List03 .List03back {
  height: 270vh;
  background-image: url("../../public/img/home/camo-black-2x.png");
}
#main-content .maintool .List03 .List03back .listfront .listleft picture .game01 {
  position: absolute;
  top: 28rem;
  left: 27rem;
  transform: rotate(-10deg);
}
#main-content .maintool .List03 .List03back .listfront .listleft picture .game02 {
  position: absolute;
  top: 8rem;
  left: 29rem;
  transform: rotate(2.4deg);
}
#main-content .maintool .List03 .List03back .listfront .listleft picture .game03 {
  position: absolute;
  top: 28rem;
  left: 50rem;
  transform: rotate(1deg);
}
#main-content .maintool .List03 .List03back .listfront .listleft picture .game04 {
  position: absolute;
  top: 52rem;
  left: 62rem;
  transform: rotate(26deg);
}
#main-content .maintool .List03 .List03back .listfront .listright {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 21rem;
  right: 20rem;
  text-align: center;
}
#main-content .maintool .List03 .List03back .listfront .listright .righttext {
  font-family: "s1";
  transform: rotate(-5deg);
  color: #eaff3d;
  font-weight: 500;
  font-size: 75px;
}
#main-content .maintool .List03 .List03back .listfront .listright .righttext .vartext {
  color: white;
  display: block;
}
#main-content .maintool .List03 .List03back .listfront .listright p {
  font-family: "s3";
  margin: 1em 0;
  color: white;
  font-size: 18px;
}
#main-content .maintool .List03 .List03back .listfront .listright a {
  font-family: "s4";
}
#main-content .maintool .List03 .List03back .listfront .listright a .vartext02 {
  background-color: #eaff3d;
  width: 150px;
  height: 55px;
  color: black;
  padding: 10px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}
#main-content .maintool .List03 .List03back .banner03 {
  position: relative;
  top: 67rem;
}
#main-content .maintool .List03 .List03back .banner03 .bannery {
  height: 110px;
  background-image: url("../../public/img/home/banner-design1-medium-up.png");
  transform: rotate(1.5deg);
  transform-origin: 90% 50%;
}
#main-content .maintool .List03 .List03back .banner03 .bannerp {
  height: 110px;
  background-image: url("../../public/img/home/banner-purple-medium-up.png");
  transform: rotate(-1deg);
  transform-origin: 5% 50%;
}
#main-content .maintool .List03 .List03back .listback {
  position: relative;
}
#main-content .maintool .List03 .List03back .listback .backonlu picture .onlysti {
  position: absolute;
  top: 97rem;
  left: -5rem;
}
#main-content .maintool .List03 .List03back .listback .fronolu {
  position: absolute;
  display: flex;
  top: 85rem;
  left: 27rem;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  align-content: center;
  align-items: center;
}
#main-content .maintool .List03 .List03back .listback .fronolu .only {
  font-family: "s1";
  color: #ff9750;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  transform: rotate(-4deg);
}
#main-content .maintool .List03 .List03back .listback .fronolu .only .only01 {
  font-size: 5.5rem;
  color: white;
}
#main-content .maintool .List03 .List03back .listback .fronolu .onlybox {
  padding-top: 80px;
}
#main-content .maintool .List03 .List03back .listback .fronolu .onlybox picture .only01 {
  position: absolute;
  left: -9rem;
  top: 18rem;
}
#main-content .maintool .List03 .List03back .listback .fronolu .onlybox picture .only02 {
  position: absolute;
  left: 16rem;
}
#main-content .maintool .List03 .List03back .listback .fronolu .onlybox picture .only03 {
  position: absolute;
  left: 46rem;
  top: 20rem;
}
#main-content .maintool .List03 .List03back .listback .fronolu p {
  padding: 44px 12px 15px;
  text-align: center;
  font-family: "s3";
  color: white;
}
#main-content .maintool .List03 .List03back .listback .fronolu .onlyclick {
  font-family: "s4";
  font-weight: 700;
}
#main-content .maintool .List03 .List03back .listback .fronolu .onlyclick .onlyspan {
  background-color: #eaff3d;
  width: 300px;
  height: 55px;
  color: black;
  padding: 10px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}
#main-content .maintool .List04 {
  height: 100vh;
  background-image: url("../../public/img/home/tapes-purple.jpg");
}
#main-content .maintool .List04 .banner04 .bannerb {
  height: 110px;
  background-image: url("../../public/img/home/banner-design3-medium-up.png");
  transform: rotate(-1deg);
  transform-origin: -100% 50%;
}
#main-content .maintool .List04 .banner04 .bannerg {
  height: 110px;
  background-image: url("../../public/img/home/banner-yellow-medium-up.png");
  transform: rotate(1deg);
  transform-origin: 260% 50%;
}
#main-content .maintool .List04 .bluestc .blueleft {
  position: absolute;
  left: 23rem;
  width: 500px;
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
#main-content .maintool .List04 .bluestc .blueleft h2 {
  margin-top: 20px;
  color: #eaff3d;
  font-size: 4rem;
  font-family: "s1";
}
#main-content .maintool .List04 .bluestc .blueleft .content-spacing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 22rem;
  margin-top: 20px;
  color: white;
  font-family: "s3";
}
#main-content .maintool .List04 .bluestc .blueleft .content-spacing .monnimg .mon01:nth-child(1) .mon {
  fill: #EAFF3C;
}
#main-content .maintool .List04 .bluestc .blueleft .content-spacing .monnimg .mon01:nth-child(1) .non {
  fill: #81C32C;
}
#main-content .maintool .List04 .bluestc .blueleft .content-spacing .monnimg .mon01:nth-child(2) {
  margin-left: 10px;
}
#main-content .maintool .List04 .bluestc .blueleft .content-spacing .monnimg .mon01:nth-child(2) .mon {
  fill: #FF585E;
}
#main-content .maintool .List04 .bluestc .blueleft .content-spacing .monnimg .mon01:nth-child(2) .non {
  fill: #B62E35;
}
#main-content .maintool .List04 .bluestc .blueleft .content-spacing .monnimg .mon01:nth-child(3) {
  margin-left: 10px;
}
#main-content .maintool .List04 .bluestc .blueleft .content-spacing .monnimg .mon01:nth-child(3) .mon {
  fill: #FF9750;
}
#main-content .maintool .List04 .bluestc .blueleft .content-spacing .monnimg .mon01:nth-child(3) .non {
  fill: #CB6B15;
}
#main-content .maintool .List04 .bluestc .blueleft .content-spacing .monnimg .mon01:nth-child(4) {
  margin-left: 10px;
}
#main-content .maintool .List04 .bluestc .blueleft .content-spacing .monnimg .mon01:nth-child(4) .mon {
  fill: #6AF7CE;
}
#main-content .maintool .List04 .bluestc .blueleft .content-spacing .monnimg .mon01:nth-child(4) .non {
  fill: #00A0AA;
}
#main-content .maintool .List04 .bluestc .blueleft .content-spacing .monnimg .mon01:nth-child(5) {
  margin-left: 10px;
}
#main-content .maintool .List04 .bluestc .blueleft .content-spacing .monnimg .mon01:nth-child(5) .mon {
  fill: #AF50FF;
}
#main-content .maintool .List04 .bluestc .blueleft .content-spacing .monnimg .mon01:nth-child(5) .non {
  fill: #5E3F94;
}
#main-content .maintool .List04 .bluestc .blueleft .content-spacing .inboxa {
  display: flex;
  align-items: center;
  justify-content: center;
}
#main-content .maintool .List04 .bluestc .blueleft .content-spacing .inboxa .inbox {
  font-family: "s4";
  display: flex;
  background-color: #eaff3d;
  width: 180px;
  height: 55px;
  color: black;
  padding: 10px;
  border-radius: 7px;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}
#main-content .maintool .List04 .bluestc .blueleft .content-spacing .doin {
  display: flex;
  justify-content: center;
}
#main-content .maintool .List04 .bluestc .blueleft .content-spacing .doin .dodo {
  text-decoration: underline;
}
#main-content .maintool .List04 .bluestc .blueleft .content-spacing .doout {
  display: flex;
  justify-content: center;
  font-size: 12px;
}
#main-content .maintool .List04 .bluestc .blueleft .content-spacing .doout .inboxb .dodo {
  color: white;
  text-decoration: underline;
}
#main-content .maintool .List04 .bluestc .blueright {
  position: relative;
}
#main-content .maintool .List04 .bluestc .blueright picture .char8 {
  position: absolute;
  right: 36rem;
  top: -7.5rem;
}
#main-content .maintool .List04 .bluestc .blueright picture .char9 {
  position: absolute;
  right: 20rem;
  top: 1rem;
}
#main-content .footerbox {
  height: 70vh;
  background-color: black;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}
#main-content .footerbox .foimgback .inkfoterleft picture .o01 {
  width: 100px;
  position: absolute;
  left: 15rem;
  top: 8rem;
  transform: rotate(-10deg);
}
#main-content .footerbox .foimgback .inkfoterleft picture .o02 {
  position: absolute;
  left: -10rem;
  top: 16rem;
  width: 28rem;
  transform: rotate(263deg);
}
#main-content .footerbox .foimgback .inkfoterleft picture .o03 {
  position: absolute;
  left: 6rem;
  top: 26rem;
  transform: rotate(328deg);
}
#main-content .footerbox .foimgback .inkfoterright picture .o04 {
  width: 150px;
  position: absolute;
  right: 10rem;
  top: 8rem;
  transform: rotate(10deg);
}
#main-content .footerbox .foimgback .inkfoterright picture .o05 {
  position: absolute;
  right: 2rem;
  top: 14rem;
  width: 19rem;
}
#main-content .footerbox .foimgback .inkfoterright picture .o06 {
  position: absolute;
  right: -11rem;
  top: 16rem;
}
#main-content .footerbox .fotextback .foterbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
#main-content .footerbox .fotextback .foterbtn button {
  font-family: "s4";
  font-size: 20px;
  width: 200px;
  border-radius: 10px;
  height: 60px;
  background-color: #603bff;
  color: #eaff3d;
}
#main-content .footerbox .fotextback .text-back {
  margin: 30px 400px 0;
  font-size: 14px;
}
#main-content .footerbox .fotextback .text-back .ptag {
  gap: 15px;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
}
#main-content .footerbox .fotextback .text-back .ptag p a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main-content .footerbox .fotextback .text-back .ptag p a span {
  color: white;
  text-decoration: underline;
}
#main-content .footerbox .fotextback .img-back {
  margin-top: 40px;
  color: white;
  display: flex;
  gap: 60px;
  justify-content: center;
}
#main-content .footerbox .fotextback .img-back .endleft {
  text-align: center;
  font-weight: 500;
}
#main-content .footerbox .fotextback .img-back .endleft .leftfoll {
  padding-bottom: 20px;
}
#main-content .footerbox .fotextback .img-back .endleft .foll img {
  margin: 0 12px;
  width: 50px;
  border-radius: 5px;
}
#main-content .footerbox .fotextback .img-back .endrignt {
  display: flex;
  gap: 20px;
}
#main-content .footerbox .fotextback .img-back .endrignt .whbox {
  width: 12rem;
  height: 6rem;
  background-color: white;
  display: flex;
  align-items: center;
}
#main-content .footerbox .fotextback .img-back .endrignt .whbox .en {
  height: 6rem;
}
#main-content .footerbox .fotextback .img-back .endrignt .whbox p {
  margin: 5px;
  font-size: 14px;
  font-weight: 500;
  color: black;
}
#main-content .footerbox .fotextback .img-back .endrignt .esrb {
  height: 6rem;
}
#main-content .footerbox .fotextback .endbox {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#main-content .footerbox .fotextback .endbox .linka {
  gap: 15px;
  display: flex;
  font-size: 12px;
}
#main-content .footerbox .fotextback .endbox .linka a span {
  color: white;
}
#main-content .footerbox .fotextback .endbox .endtext {
  margin-top: 30px;
  color: white;
  font-size: 12px;
}/*# sourceMappingURL=Home.css.map */