@import "reset.css";
@import "font.css";

#main-content{
    overflow: hidden;
    .group01{
    position: relative;
    z-index: 2;
    .backpage{
        .backimg{}
    }
    .calamarimotion01{}
    .calamarimotion02{}
    .calamarimotion03{}
    .calamarimotion04{}
    .calamarimotion05{}
    .homelogo{}
    .headerbanner{}
}
}
