@import "reset.css";
@import "font.css";


body {
    overflow-x: hidden;
}


#main-content {
    //overflow: hidden;

    .headerbox {
        position: relative;
        z-index: 2;

        .groupback {
            pointer-events: none;
            position: relative;
            width: 100%;
            margin: 0 auto;
            height: 100vh;

            .groupback ::before {
                content: "";
                display: block;
            }

            .backpage {
                width: 100%;
                opacity: 1;

                picture {
                    max-width: 100%;

                    .backimg {
                        width: 1947px;
                    }
                }

            }

            .calamarimotion01 {
                //opacity: 1;
                position: absolute;
                left: 1002px;
                top: 508px;

                picture {
                    .motion01 {
                        width: 416px;
                        max-width: 100%;
                        height: auto;
                    }
                }
            }

            .calamarimotion02 {
                //opacity: 1;
                position: absolute;
                left: 64px;
                top: 339px;

                picture {
                    .motion02 {
                        width: 282px;
                        max-width: 100%;
                        height: auto;
                    }
                }
            }


            .calamarimotion03 {
                //opacity: 1;
                position: absolute;
                left: 552px;
                top: 500px;

                picture {
                    .motion03 {
                        width: 323px;
                        max-width: 100%;
                        height: auto;
                    }
                }
            }

            .calamarimotion04 {
                //opacity: 1;
                position: absolute;
                left: 256px;
                top: 91px;

                picture {
                    .motion04 {
                        width: 1193px;
                        max-width: 100%;
                        height: auto;
                    }
                }
            }

            .calamarimotion05 {
                opacity: 1;
                position: absolute;
                left: -48px;
                top: 80px;

                picture {
                    .motion05 {
                        width: 816px;
                        max-width: 100%;
                        height: auto;
                    }
                }
            }

            .homelogo {
                opacity: 1;
                position: absolute;
                right: 0;
                top: 80px;

                .stagger {}

                .view {

                    picture {
                        .pos {
                            width: 560px;
                            //border-style: none;
                            max-width: 100%;
                        }
                    }

                }

                .relatext {
                    position: relative;
                    right: -120px;
                    top: 0;


                    picture {
                        .tape1 {}
                    }

                    a {
                        position: absolute;
                        left: 90px;
                        top: -16px;

                        .aip {}

                        .drip {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 140px;
                            height: 50px;
                            box-sizing: border-box;
                            border-radius: 8px;
                            background: yellow;
                            font-family: "s2";
                            font-weight: 700;
                        }
                    }

                }
            }

            .headerbanner {
                position: relative;
                top: -20px;

                .banner01 {
                    height: 110px;
                    background-image: url("../../public/img/home/banner-design1-medium-up.png");
                    transform: rotate(1deg);
                    transform-origin: 90% 50%;
                    z-index: 2;
                }

                .banner02 {
                    top: 70px;
                    height: 110px;
                    background-image: url("../../public/img/home/banner-green-medium-up.png");
                    transform: rotate(-1deg);
                    transform-origin: 90% 50%;
                    z-index: 2;
                }
            }
        }

    }

    .maintool {
        position: relative;
        //top: -170px;
        //height: 350vh;

        .List01 {
            height: 340vh;
            //padding-bottom: 500px;
            background-position: top;
            //height: 100px;
            background-image: url("../../public/img/home/tapes-black.jpg");

            .Lvideo01 {
                z-index: auto;
                display: flex;
                justify-content: center;
                align-items: center;

                .Ltool01 {
                    position: relative;


                    .element01 {
                        picture {
                            .tape1 {
                                position: absolute;
                                top: 3rem;
                                left: -3rem;
                                z-index: 4;
                                transform: rotate(-21deg);
                            }

                            .tape2 {
                                position: absolute;
                                top: 28rem;
                                right: -4rem;
                                transform: rotate(-14deg);
                                z-index: 4;
                            }
                        }
                    }

                    .element02 {}

                    .element03 {
                        //margin: -5%;
                        align-items: center;
                        display: flex;
                        flex-direction: column;
                        margin: 10% 0 calc(var(8px, 8px)*6)0;
                        position: relative;

                        .titlebanner {
                            background: #ff505e;
                            display: inline-block;
                            transform: rotate(-4deg);
                            z-index: 4;
                            text-align: center;
                            line-height: 1;

                            h2 {
                                font-family: "s4";
                                font-weight: 700;
                                font-size: 2rem;
                                padding: 16px 40px 24px;
                            }

                            &::before {
                                content: "";
                                background-position: 100%;
                                left: -61px;
                                width: 62px;
                                background-repeat: no-repeat;
                                background-size: contain;
                                height: 100%;
                                position: absolute;
                                background-image: url(../../public/img//home/left-tape-red.svg);
                            }

                            &::after {
                                content: "";
                                background-position: 0;
                                right: -58px;
                                top: 0;
                                width: 59px;
                                background-repeat: no-repeat;
                                background-size: contain;
                                height: 100%;
                                position: absolute;
                                background-image: url(../../public/img//home/right-tape-red.svg);
                            }
                        }

                        .inview {
                            button {
                                z-index: 3;
                                position: relative;
                                cursor: pointer;
                                border: none;
                                transform: rotate(3deg);
                                border: 5px solid white;
                                display: inline-block;
                                padding: 0;

                                .buton {
                                    bottom: 0;
                                    left: 50%;
                                    margin: 10% 0 auto;
                                    top: 0;
                                    color: #29292951;
                                    transform: translate(-50%, -10%);
                                    width: 40%;
                                    z-index: 10;
                                    position: absolute;

                                    .one {
                                        border-radius: 100px;
                                        height: 270px;
                                        background: #000000b0;
                                    }

                                    .plays {
                                        position: absolute;
                                        top: 70px;
                                        left: 110px;
                                        color: #6af7ce;
                                    }
                                }


                                picture {
                                    .videot {}
                                }
                            }



                        }

                    }
                }

                .Ltool02 {


                    .element04 {}

                    .element05 {}

                    .element06 {
                        picture {
                            position: absolute;
                            right: 0;
                            top: 30em;
                        }
                    }

                    .element07 {
                        width: 100%;
                        left: 0;
                        top: 42em;
                        position: absolute;

                        .bo07 {
                            position: absolute;
                            z-index: 2;
                            font-family: "s1";
                            width: 530px;
                            height: 255px;
                            background-color: black;
                            left: 25em;
                            top: 5em;
                            padding: 2em;

                            &::before {
                                background-repeat: repeat-y;
                                content: "";
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: -2em;
                                width: 40px;
                                z-index: -1;
                                background-image: url("../../public/img/home/left-black-tape-container.svg");
                            }

                            &::after {
                                background-repeat: repeat-y;
                                content: "";
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 33em;
                                width: 40px;
                                z-index: -1;
                                background-image: url("../../public/img/home/right-black-tape-container.svg");
                            }

                            h2 {
                                white-space: pre-wrap;
                                left: 1em;
                                top: -2.2em;
                                margin: auto;
                                position: absolute;
                                transform: rotate(-5deg);
                                color: #ff9750;
                                z-index: 1;
                                font-size: 50px;
                                text-align: center;

                                span {
                                    display: block;
                                    color: white;
                                    font-size: 80px;
                                    text-transform: uppercase;
                                }
                            }

                            p {
                                font-family: "s2";
                                font-size: 23px;
                                color: white;
                            }


                            .noLink {
                                font-family: "s2";
                                font-weight: 700;
                                font-size: 1.4rem;
                                position: absolute;
                                top: 10rem;
                                left: 6.2rem;
                                background: #af50ff;
                                width: 350px;
                                height: 60px;
                                border-radius: 15px;
                                text-align: center;
                                padding: 1em;

                                a {
                                    color: black;
                                }
                            }
                        }
                    }

                    .element08 {
                        position: absolute;
                        right: 22em;
                        top: 40em;
                        transform: rotate(5deg);
                        border: 8px solid white;

                        picture {
                            .tape01 {
                                position: absolute;
                                top: -3rem;
                                left: 12rem;
                            }

                            .imgs3 {}
                        }


                    }
                }
            }

            .Lvideo02 {

                .back02 {
                    position: absolute;
                    right: 17em;
                    top: 90em;

                    picture {
                        .backs02 {}
                    }
                }

                .colorbox01 {
                    position: absolute;
                    top: 82em;
                    left: 14em;
                    transform: rotate(-4deg);

                    .bluemo {
                        position: absolute;

                        .st0 {
                            fill: #603bff;
                        }
                    }

                    h2 {
                        position: absolute;
                        left: 4em;
                        top: 3.3em;
                        width: 520px;
                        color: white;
                        font-weight: 800;
                        font-family: "s2";
                        font-size: 35px;
                        text-align: center;
                    }

                    video {
                        position: absolute;
                        top: 13em;
                        left: 12.5em;

                    }

                    .noLink02 {

                        a {
                            color: black;
                            font-family: "s2";
                            font-weight: 700;
                            font-size: 1.4rem;
                            position: absolute;
                            top: 29rem;
                            left: 19.2rem;
                            background: #eaff3d;
                            width: 200px;
                            height: 70px;
                            border-radius: 15px;
                            text-align: center;
                            padding: 1em;
                        }
                    }
                }

                .colorbox02 {
                    position: absolute;
                    top: 70em;
                    right: 62em;
                    transform: rotate(4deg);

                    .reamonmo {
                        position: absolute;

                        .st02 {
                            fill: #eaff3d;
                        }
                    }

                    h2 {
                        position: absolute;
                        right: -41rem;
                        top: 3.3em;
                        width: 520px;
                        color: white;
                        font-weight: 800;
                        font-family: "s2";
                        font-size: 35px;
                        text-align: center;
                    }

                    video {
                        position: absolute;
                        top: 14em;
                        right: -38em;
                    }

                    .noLink03 {
                        a {
                            color: white;
                            font-family: "s2";
                            font-weight: 700;
                            font-size: 1.4rem;
                            position: absolute;
                            top: 29rem;
                            left: 19rem;
                            background: #603bff;
                            width: 200px;
                            height: 70px;
                            border-radius: 15px;
                            text-align: center;
                            padding: 1em;
                        }
                    }
                }
            }

            .Lvideo03 {
                .banerover {
                    position: relative;
                    top: 90rem;

                    .banerover01 {
                        height: 110px;
                        background-image: url("../../public/img/home/banner-design2-medium-up-2x.png");
                        transform: rotate(0.8deg);
                        transform-origin: 90% 50%;
                    }

                    .banerover02 {
                        height: 110px;
                        background-image: url("../../public/img/home/banner-green-medium-up-2x.png");
                        transform: rotate(-1deg);
                        transform-origin: 10% 50%;
                    }
                }

                .rownews {
                    position: absolute;
                    top: 142rem;
                    left: 40rem;

                    .stickertitle {

                        picture {
                            .t01 {
                                position: absolute;
                                width: 500px;
                                top: 2rem;
                                left: -2rem;
                                transform: rotate(-4deg);
                            }

                            .t02 {
                                width: 500px;
                                left: 2rem;
                                top: -1rem;
                                transform: rotate(-4deg);

                                position: absolute;
                            }
                        }
                    }

                    .stickername {
                        transform: rotate(-4deg);
                        background-color: white;
                        position: absolute;
                        width: 500px;
                        height: 90px;
                        display: flex;
                        border-radius: 10px;
                        align-items: center;
                        justify-content: center;
                        font-size: 52px;
                        font-weight: 500;
                        font-family: "s1";
                    }
                }

                .row {
                    position: absolute;
                    top: 153rem;
                    left: 46rem;

                    .rowtext {
                        a {
                            font-size: 25px;
                            font-weight: 700;
                            font-family: "s4";
                            color: white;
                        }
                    }
                }

                .rowimg {
                    .rowbut {}

                    .rowimgbox {
                        .rowimg01 {

                            .state01 {
                                position: absolute;
                                top: 160rem;
                                left: 30rem;

                                &:hover {
                                    transform: rotate(3deg);
                                    transition: 0.3s ease-in-out;
                                }

                                .menojang {}

                                .menobox {
                                    .pasting01 {
                                        transform: rotate(-10deg);
                                        position: absolute;
                                        top: -1.1rem;
                                        width: 130px;
                                        left: 7rem;
                                    }

                                    .pasting02 {
                                        position: absolute;
                                        top: 70px;
                                        left: 120px;
                                        width: 330px;
                                    }

                                    .pasting03 {
                                        position: absolute;
                                        top: 277px;
                                        left: 118px;
                                        width: 330px;
                                        font-family: "s4";
                                        font-weight: 500;

                                        p {}

                                        a {
                                            font-size: 1.5rem;
                                            font-weight: 700;
                                            color: black;

                                            span {}
                                        }
                                    }

                                    .pasting04 {
                                        position: absolute;
                                        top: 385px;
                                        left: 117px;
                                    }

                                    .pasting05 {
                                        position: absolute;
                                        top: 413px;
                                        right: 116px;
                                    }
                                }
                            }

                            .state02 {
                                position: absolute;
                                top: 160rem;
                                left: 56rem;

                                &:hover {
                                    transform: rotate(3deg);
                                    transition: 0.3s ease-in-out;
                                }

                                .menojang {}

                                .menobox {
                                    .pasting01 {
                                        transform: rotate(-10deg);
                                        position: absolute;
                                        top: -1.1rem;
                                        width: 130px;
                                        left: 7rem;
                                    }

                                    .pasting02 {
                                        position: absolute;
                                        top: 70px;
                                        left: 120px;
                                        width: 330px;
                                    }

                                    .pasting03 {
                                        position: absolute;
                                        top: 277px;
                                        left: 118px;
                                        width: 330px;
                                        font-family: "s4";
                                        font-weight: 500;

                                        p {}

                                        a {
                                            font-size: 1.5rem;
                                            font-weight: 700;
                                            color: black;

                                            span {}
                                        }
                                    }

                                    .pasting04 {
                                        position: absolute;
                                        top: 385px;
                                        left: 117px;
                                    }

                                    .pasting05 {
                                        position: absolute;
                                        top: 413px;
                                        right: 116px;
                                    }
                                }
                            }

                        }

                        .rowimg02 {
                            .state03 {
                                position: absolute;
                                top: 160rem;
                                left: 82rem;

                                &:hover {
                                    transform: rotate(3deg);
                                    transition: 0.3s ease-in-out;
                                }

                                .menojang {}

                                .menobox {
                                    .pasting01 {
                                        transform: rotate(-10deg);
                                        position: absolute;
                                        top: -1.1rem;
                                        width: 130px;
                                        left: 7rem;
                                    }

                                    .pasting02 {
                                        position: absolute;
                                        top: 70px;
                                        left: 120px;
                                        width: 330px;
                                    }

                                    .pasting03 {
                                        position: absolute;
                                        top: 277px;
                                        left: 118px;
                                        width: 330px;
                                        font-family: "s4";
                                        font-weight: 500;

                                        p {}

                                        a {
                                            font-size: 1.5rem;
                                            font-weight: 700;
                                            color: black;

                                            span {}
                                        }
                                    }

                                    .pasting04 {
                                        position: absolute;
                                        top: 385px;
                                        left: 117px;
                                    }

                                    .pasting05 {
                                        position: absolute;
                                        top: 413px;
                                        right: 116px;
                                    }
                                }
                            }

                            .state04 {
                                position: absolute;
                                top: 160rem;
                                left: 108rem;

                                &:hover {
                                    transform: rotate(3deg);
                                    transition: 0.3s ease-in-out;
                                }

                                .menojang {}

                                .menobox {
                                    .pasting01 {
                                        transform: rotate(-10deg);
                                        position: absolute;
                                        top: -1.1rem;
                                        width: 130px;
                                        left: 7rem;
                                    }

                                    .pasting02 {
                                        position: absolute;
                                        top: 70px;
                                        left: 120px;
                                        width: 330px;
                                    }

                                    .pasting03 {
                                        position: absolute;
                                        top: 277px;
                                        left: 118px;
                                        width: 330px;
                                        font-family: "s4";
                                        font-weight: 500;

                                        p {}

                                        a {
                                            font-size: 1.5rem;
                                            font-weight: 700;
                                            color: black;

                                            span {}
                                        }
                                    }

                                    .pasting04 {
                                        position: absolute;
                                        top: 385px;
                                        left: 117px;
                                    }

                                    .pasting05 {
                                        position: absolute;
                                        top: 413px;
                                        right: 116px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .List02 {
            position: relative;
            background-color: #ff505e;
            height: 135vh;

            .pinkb {

                .pinkgroup {
                    display: flex;
                    justify-content: space-around;

                    .left {
                        .leftbox {
                            picture {

                                .leftimg01 {
                                    position: absolute;
                                    top: 4rem;
                                    left: 21rem;
                                }

                                .leftimg02 {
                                    position: absolute;
                                    top: 16rem;
                                    left: 52rem;
                                    width: 110px;
                                }

                                .leftimg03 {
                                    position: absolute;
                                    top: 31rem;
                                    left: 20rem;
                                    width: 800px;
                                }
                            }
                        }
                    }

                    .right {
                        padding-top: 50px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .righttitle {
                            white-space: pre-wrap;
                            font-family: "s1";
                            font-size: 3rem;
                            width: 400px;
                            text-align: center;
                            margin: 0.5em 0;
                        }

                        .rigntbox {
                            width: 550px;
                            height: 800px;
                            background-color: white;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            iframe {
                                width: 530px;
                                height: 780px;
                                border-radius: 15px;
                            }
                        }

                        .twitter {
                            padding-top: 30px;

                            .twitterbox {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: #1da1f2;
                                width: 320px;
                                height: 50px;
                                color: white;
                                padding: 10px;
                                border-radius: 5px;
                                font-family: "s4";
                                font-weight: 700;
                                font-size: 20px;

                                .iconright {
                                    margin-left: 6px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .List03 {
            position: relative;

            .List03back {
                height: 270vh;
                background-image: url("../../public/img/home/camo-black-2x.png");

                .listfront {

                    .listleft {
                        picture {
                            .game01 {
                                position: absolute;
                                top: 28rem;
                                left: 27rem;
                                transform: rotate(-10deg);
                            }

                            .game02 {
                                position: absolute;
                                top: 8rem;
                                left: 29rem;
                                transform: rotate(2.4deg);
                            }

                            .game03 {
                                position: absolute;
                                top: 28rem;
                                left: 50rem;
                                transform: rotate(1deg);
                            }

                            .game04 {
                                position: absolute;
                                top: 52rem;
                                left: 62rem;
                                transform: rotate(26deg);
                            }
                        }
                    }

                    .listright {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        position: absolute;
                        top: 21rem;
                        right: 20rem;
                        text-align: center;

                        .righttext {
                            font-family: "s1";
                            transform: rotate(-5deg);
                            color: #eaff3d;
                            font-weight: 500;
                            font-size: 75px;

                            .vartext {
                                color: white;
                                display: block;
                            }
                        }

                        p {
                            font-family: "s3";
                            margin: 1em 0;
                            color: white;
                            font-size: 18px;
                        }

                        a {
                            font-family: "s4";

                            .vartext02 {
                                background-color: #eaff3d;
                                width: 150px;
                                height: 55px;
                                color: black;
                                padding: 10px;
                                display: flex;
                                border-radius: 5px;
                                align-items: center;
                                justify-content: center;
                                font-size: 22px;
                            }
                        }

                    }
                }

                .banner03 {
                    position: relative;
                    top: 67rem;

                    .bannery {
                        height: 110px;
                        background-image: url("../../public/img/home/banner-design1-medium-up.png");
                        transform: rotate(1.5deg);
                        transform-origin: 90% 50%;
                    }

                    .bannerp {
                        height: 110px;
                        background-image: url("../../public/img/home/banner-purple-medium-up.png");
                        transform: rotate(-1deg);
                        transform-origin: 5% 50%;
                    }
                }

                .listback {
                    position: relative;


                    .backonlu {
                        picture {
                            .onlysti {
                                position: absolute;
                                top: 97rem;
                                left: -5rem;
                            }
                        }
                    }

                    .fronolu {
                        position: absolute;
                        display: flex;
                        top: 85rem;
                        left: 27rem;
                        flex-direction: column;
                        flex-wrap: wrap-reverse;
                        align-content: center;
                        align-items: center;

                        .only {
                            font-family: "s1";
                            color: #ff9750;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            font-size: 3rem;
                            transform: rotate(-4deg);

                            .only01 {
                                font-size: 5.5rem;
                                color: white;
                            }
                        }

                        .onlybox {
                            padding-top: 80px;

                            picture {
                                .onlyback {}

                                .only01 {
                                    position: absolute;
                                    left: -9rem;
                                    top: 18rem;
                                }

                                .only02 {
                                    position: absolute;
                                    left: 16rem;
                                }

                                .only03 {
                                    position: absolute;
                                    left: 46rem;
                                    top: 20rem;
                                }
                            }
                        }

                        p {
                            padding: 44px 12px 15px;
                            text-align: center;
                            font-family: "s3";
                            color: white;
                        }

                        .onlyclick {
                            font-family: "s4";
                            font-weight: 700;

                            .onlyspan {
                                background-color: #eaff3d;
                                width: 300px;
                                height: 55px;
                                color: black;
                                padding: 10px;
                                display: flex;
                                border-radius: 5px;
                                align-items: center;
                                justify-content: center;
                                font-size: 22px;
                            }
                        }
                    }

                }
            }
        }

        .List04 {
            height: 100vh;
            background-image: url("../../public/img/home/tapes-purple.jpg");

            .banner04 {
                .bannerb {
                    height: 110px;
                    background-image: url("../../public/img/home/banner-design3-medium-up.png");
                    transform: rotate(-1deg);
                    transform-origin: -100% 50%;
                }

                .bannerg {
                    height: 110px;
                    background-image: url("../../public/img/home/banner-yellow-medium-up.png");
                    transform: rotate(1deg);
                    transform-origin: 260% 50%;
                }
            }

            .bluestc {
                .blueleft {
                    position: absolute;
                    left: 23rem;
                    width: 500px;
                    display: flex;
                    align-content: center;
                    align-items: center;
                    text-align: center;
                    flex-direction: column;
                    justify-content: center;

                    picture {
                        .mynin {}
                    }

                    h2 {
                        margin-top: 20px;
                        color: #eaff3d;
                        font-size: 4rem;
                        font-family: "s1";
                    }

                    .content-spacing {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        height: 22rem;
                        margin-top: 20px;
                        color: white;
                        font-family: "s3";

                        p {}

                        .monnimg {

                            .mon01 {
                                &:nth-child(1) {
                                    .mon {
                                        fill: #EAFF3C;
                                    }

                                    .non {
                                        fill: #81C32C;
                                    }
                                }

                                &:nth-child(2) {
                                    .mon {
                                        fill: #FF585E;
                                    }

                                    .non {
                                        fill: #B62E35;
                                    }

                                    margin-left: 10px;
                                }

                                &:nth-child(3) {
                                    .mon {
                                        fill: #FF9750;
                                    }

                                    .non {
                                        fill: #CB6B15;
                                    }

                                    margin-left: 10px;
                                }

                                &:nth-child(4) {
                                    .mon {
                                        fill: #6AF7CE;
                                    }

                                    .non {
                                        fill: #00A0AA;
                                    }

                                    margin-left: 10px;
                                }

                                &:nth-child(5) {
                                    .mon {
                                        fill: #AF50FF;
                                    }

                                    .non {
                                        fill: #5E3F94;
                                    }

                                    margin-left: 10px;
                                }

                            }
                        }

                        .inboxa {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .inbox {
                                font-family: "s4";
                                display: flex;
                                background-color: #eaff3d;
                                width: 180px;
                                height: 55px;
                                color: black;
                                padding: 10px;
                                border-radius: 7px;
                                align-items: center;
                                justify-content: center;
                                font-size: 22px;
                            }
                        }

                        .doin {
                            display: flex;
                            justify-content: center;

                            .dodo {
                                text-decoration: underline;
                            }

                        }

                        .doout {

                            display: flex;
                            justify-content: center;
                            font-size: 12px;

                            .inboxb {
                                .dodo {
                                    color: white;
                                    text-decoration: underline;
                                }
                            }
                        }

                    }
                }

                .blueright {
                    position: relative;

                    picture {
                        .char8 {
                            position: absolute;
                            right: 36rem;
                            top: -7.5rem;
                        }

                        .char9 {
                            position: absolute;
                            right: 20rem;
                            top: 1rem;
                        }
                    }
                }

            }
        }
    }

    .footerbox {
        height: 70vh;
        background-color: black;
        position: relative;
        overflow-y: hidden;
        overflow-x: hidden;

        .foimgback {
            .inkfoterleft {
                picture {


                    .o01 {
                        width: 100px;
                        position: absolute;
                        left: 15rem;
                        top: 8rem;
                        transform: rotate(-10deg);
                    }

                    .o02 {
                        position: absolute;
                        left: -10rem;
                        top: 16rem;
                        width: 28rem;
                        transform: rotate(263deg);
                    }

                    .o03 {
                        position: absolute;
                        left: 6rem;
                        top: 26rem;
                        transform: rotate(328deg);
                    }
                }
            }

            .inkfoterright {
                picture {

                    .o04 {
                        width: 150px;
                        position: absolute;
                        right: 10rem;
                        top: 8rem;
                        transform: rotate(10deg);
                    }

                    .o05 {
                        position: absolute;
                        right: 2rem;
                        top: 14rem;
                        width: 19rem;
                    }

                    .o06 {
                        position: absolute;
                        right: -11rem;
                        top: 16rem;
                    }
                }
            }
        }

        .fotextback {
            .foterbtn {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 50px;

                button {
                    font-family: "s4";
                    font-size: 20px;
                    width: 200px;
                    border-radius: 10px;
                    height: 60px;
                    background-color: #603bff;
                    color: #eaff3d;
                }
            }

            .text-back {
                margin: 30px 400px 0;
                font-size: 14px;

                .ptag {
                    gap: 15px;
                    display: flex;
                    color: white;
                    flex-direction: column;
                    align-items: center;

                    p {
                        a {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            span {
                                color: white;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }




            .img-back {
                margin-top: 40px;
                color: white;
                display: flex;
                gap: 60px;
                justify-content: center;

                .endleft {
                    text-align: center;
                    font-weight: 500;

                    .leftfoll {
                        padding-bottom: 20px;
                    }

                    .foll {
                        img {
                            margin: 0 12px;
                            width: 50px;
                            border-radius: 5px;
                        }
                    }
                }

                .endrignt {
                    display: flex;
                    gap: 20px;

                    .whbox {
                        width: 12rem;
                        height: 6rem;
                        background-color: white;
                        display: flex;
                        align-items: center;

                        .en {
                            height: 6rem;
                        }

                        p {
                            margin: 5px;
                            font-size: 14px;
                            font-weight: 500;
                            color: black;
                        }
                    }

                    .esrb {
                        height: 6rem;
                    }
                }
            }

            .endbox {
                margin-top: 40px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;


                .linka {
                    gap: 15px;
                    display: flex;
                    font-size: 12px;

                    a {

                        span {
                            color: white;
                        }
                    }


                }

                .endtext {
                    margin-top: 30px;
                    color: white;
                    font-size: 12px;
                }
            }



        }
    }

}