@import "reset.css";
@import "font.css";



#main-content {
    //overflow: hidden;

    .headerbox {
        position: relative;
        z-index: 2;

        .groupback {
            pointer-events: none;
            position: relative;
            overflow: hidden;
            width: 100%;
            margin: 0 auto;
            // --parent-width: 901;
            // --parent-height: 1151;
            // --parent-max: 100%;

            .groupback ::before {
                content: "";
                display: block;
                //padding-bottom: calc(var(--parent-height) / var(--parent-width) * 100%);
            }

            .backpage {
                width: 100%;
                // left: 0;
                // top: 0;
                // width: 0;
                // top: --top;
                // left: --left;
                // width: --width;
                // left: calc(var(0)/ var(1947));
                // top: calc(var(0)/var(952));
                // width: calc(var(1947)/var(1947));
                //position: absolute;
                opacity: 1;

                picture {
                    max-width: 100%;

                    .backimg {
                        width: 1947px;
                        //border-style: none;
                        //height: auto;
                    }
                }

            }

            .calamarimotion01 {
                //opacity: 1;
                transform: translate(var(0), var(0))scale(var(1))rotate(0deg);
                transition-delay: var(calc(0.1*1s*1));
                position: absolute;
                left: 1002px;
                top: 508px;

                picture {
                    .motion01 {
                        width: 416px;
                        max-width: 100%;
                        height: auto;
                    }
                }
            }

            .calamarimotion02 {
                //opacity: 1;
                position: absolute;
                left: 64px;
                top: 339px;

                picture {
                    .motion02 {
                        width: 282px;
                        max-width: 100%;
                        height: auto;
                    }
                }
            }


            .calamarimotion03 {
                //opacity: 1;
                position: absolute;
                left: 552px;
                top: 500px;

                picture {
                    .motion03 {
                        width: 323px;
                        max-width: 100%;
                        height: auto;
                    }
                }
            }

            .calamarimotion04 {
                //opacity: 1;
                position: absolute;
                left: 256px;
                top: 91px;

                picture {
                    .motion04 {
                        width: 1193px;
                        max-width: 100%;
                        height: auto;
                    }
                }
            }

            .calamarimotion05 {
                opacity: 1;
                position: absolute;
                left: -48px;
                top: 80px;

                picture {
                    .motion05 {
                        width: 816px;
                        max-width: 100%;
                        height: auto;
                    }
                }
            }

            .homelogo {
                opacity: 1;
                position: absolute;
                right: 0;
                top: 80px;

                .stagger {}

                .view {

                    picture {
                        .pos {
                            width: 560px;
                            //border-style: none;
                            max-width: 100%;
                        }
                    }

                }

                .relatext {
                    position: relative;
                    right: -120px;
                    top: 0;


                    picture {
                        .tape1 {}
                    }

                    a {
                        position: absolute;
                        left: 90px;
                        top: -16px;

                        .aip {}

                        .drip {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 140px;
                            height: 50px;
                            box-sizing: border-box;
                            border-radius: 8px;
                            background: yellow;
                            font-family: "s2";
                            font-weight: 700;
                        }
                    }

                }
            }

            .headerbanner {
                position: relative;
                top: -20px;

                .banner01 {
                    height: 110px;
                    background-image: url("../../public/img/home/banner-design1-medium-up.png");
                    transform: rotate(1deg);
                    transform-origin: 90% 50%;
                    z-index: 2;
                }

                .banner02 {
                    top: 70px;
                    height: 110px;
                    background-image: url("../../public/img/home/banner-green-medium-up.png");
                    transform: rotate(-1deg);
                    transform-origin: 90% 50%;
                    z-index: 2;
                }
            }
        }

    }

    .maintool {
        position: relative;
        top: -170px;
        height: 500vh;

        .List01 {
            height: 100%;
            //padding-bottom: 500px;
            background-position: top;
            //height: 100px;
            background-image: url("../../public/img/home/tapes-black.jpg");

            .Lvideo01 {
                z-index: auto;
                display: flex;
                justify-content: center;
                align-items: center;

                .Ltool01 {
                    position: relative;


                    .element01 {}

                    .element02 {}

                    .element03 {
                        //margin: -5%;
                        align-items: center;
                        display: flex;
                        flex-direction: column;
                        margin: 10% 0 calc(var(8px, 8px)*6)0;
                        position: relative;

                        .titlebanner {
                            background: #ff505e;
                            display: inline-block;
                            transform: rotate(-4deg);
                            z-index: 4;
                            text-align: center;
                            line-height: 1;

                            h2 {
                                font-family: "s4";
                                font-weight: 700;
                                font-size: 2rem;
                                padding: 16px 40px 24px;
                            }

                            &::before {
                                content: "";
                                background-position: 100%;
                                left: -61px;
                                width: 62px;
                                background-repeat: no-repeat;
                                background-size: contain;
                                height: 100%;
                                position: absolute;
                                background-image: url(../../public/img//home/left-tape-red.svg);
                            }

                            &::after {
                                content: "";
                                background-position: 0;
                                right: -58px;
                                top: 0;
                                width: 59px;
                                background-repeat: no-repeat;
                                background-size: contain;
                                height: 100%;
                                position: absolute;
                                background-image: url(../../public/img//home/right-tape-red.svg);
                            }
                        }

                        .inview {
                            button {
                                z-index: 3;
                                position: relative;
                                cursor: pointer;
                                border: none;

                                display: inline-block;
                                padding: 0;

                                .buton {
                                    bottom: 0;
                                    left: 50%;
                                    margin: 10% 0 auto;
                                    top: 0;
                                    color: #29292951;
                                    transform: translate(-50%, -10%);
                                    width: 40%;
                                    z-index: 10;
                                    position: absolute;

                                    .one {
                                        border-radius: 100px;
                                        height: 270px;
                                        background: #000000b0;
                                    }

                                    .plays {
                                        position: absolute;
                                        top: 70px;
                                        left: 110px;
                                        color: #6af7ce;
                                    }
                                }


                                picture {
                                    .videot {}
                                }
                            }



                        }

                    }
                }

                .Ltool02 {


                    .element04 {}

                    .element05 {}

                    .element06 {
                        picture {
                            position: absolute;
                            right: 0;
                            top: 30em;
                        }
                    }

                    .element07 {
                        width: 100%;
                        left: 0;
                        top: 42em;
                        position: absolute;

                        .bo07 {
                            position: absolute;
                            z-index: 2;
                            font-family: "s1";
                            width: 530px;
                            height: 255px;
                            background-color: black;
                            left: 25em;
                            top: 5em;
                            padding: 2em;

                            &::before {
                                background-repeat: repeat-y;
                                content: "";
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: -2em;
                                width: 40px;
                                z-index: -1;
                                background-image: url("../../public/img/home/left-black-tape-container.svg");
                            }

                            &::after {
                                background-repeat: repeat-y;
                                content: "";
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 33em;
                                width: 40px;
                                z-index: -1;
                                background-image: url("../../public/img/home/right-black-tape-container.svg");
                            }

                            h2 {
                                white-space: pre-wrap;
                                left: 1em;
                                top: -2.2em;
                                margin: auto;
                                position: absolute;
                                transform: rotate(-5deg);
                                color: #ff9750;
                                z-index: 1;
                                font-size: 50px;
                                text-align: center;

                                span {
                                    display: block;
                                    color: white;
                                    font-size: 80px;
                                    text-transform: uppercase;
                                }
                            }

                            p {
                                font-family: "s2";
                                font-size: 23px;
                                color: white;
                            }


                            .noLink {
                                font-family: "s2";
                                font-weight: 700;
                                font-size: 1.4rem;
                                position: absolute;
                                top: 10rem;
                                left: 6.2rem;
                                background: #af50ff;
                                width: 350px;
                                height: 60px;
                                border-radius: 15px;
                                text-align: center;
                                padding: 1em;

                                a {
                                    color: black;
                                }
                            }
                        }
                    }

                    .element08 {
                        position: absolute;
                        right: 22em;
                        top: 40em;
                        transform: rotate(5deg);

                        picture {
                            .imgs3 {}
                        }


                    }
                }
            }

            .Lvideo02 {

                .back02 {
                    position: absolute;
                    right: 17em;
                    top: 90em;

                    picture {
                        .backs02 {}
                    }
                }

                .colorbox01 {
                    position: absolute;
                    top: 82em;
                    left: 14em;
                    transform: rotate(-4deg);

                    .bluemo {
                        position: absolute;
                    }

                    h2 {
                        position: absolute;
                        left: 4em;
                        top: 3.3em;
                        width: 520px;
                        color: white;
                        font-weight: 800;
                        font-family: "s2";
                        font-size: 35px;
                        text-align: center;
                    }

                    video {
                        position: absolute;
                        top: 13em;
                        left: 12.5em;

                    }

                    .noLink02 {

                        a {
                            color: black;
                            font-family: "s2";
                            font-weight: 700;
                            font-size: 1.4rem;
                            position: absolute;
                            top: 29rem;
                            left: 19.2rem;
                            background: #eaff3d;
                            width: 200px;
                            height: 70px;
                            border-radius: 15px;
                            text-align: center;
                            padding: 1em;
                        }
                    }
                }

                .colorbox02 {
                    position: absolute;
                    top: 70em;
                    right: 62em;
                    transform: rotate(4deg);

                    .reamonmo {
                        position: absolute;
                        .st02{
                            fill: #eaff3d;
                        }
                    }

                    h2 {
                        position: absolute;
                        right: -41rem;
                        top: 3.3em;
                        width: 520px;
                        color: white;
                        font-weight: 800;
                        font-family: "s2";
                        font-size: 35px;
                        text-align: center;
                    }

                    video {
                        position: absolute;
                        top: 14em;
                        right: -38em;
                    }

                    .noLink03{
                        a{
                            color: white;
                            font-family: "s2";
                            font-weight: 700;
                            font-size: 1.4rem;
                            position: absolute;
                            top: 29rem;
                            right: -32rem;
                            background: #603bff;
                            width: 200px;
                            height: 70px;
                            border-radius: 15px;
                            text-align: center;
                            padding: 1em;
                        }
                    }
                }
            }

            .Lvideo03 {
                .banerover{
                    position: relative;
                    top: 90rem;
                    .banerover01{
                        height: 110px;
                        background-image: url("../../public/img/home/banner-design2-medium-up-2x.png");
                        transform: rotate(0.8deg);
                        transform-origin: 90% 50%;
                    }
                    .banerover02{
                        height: 110px;
                        background-image: url("../../public/img/home/banner-green-medium-up-2x.png");
                        transform: rotate(-1deg);
                        transform-origin: 10% 50%;
                    }
                }
            }
        }
    }

}