@import "reset.css";
@import "font.css";
#main-content .headerbox {
  position: relative;
  z-index: 2;
}
#main-content .headerbox .groupback {
  pointer-events: none;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}
#main-content .headerbox .groupback .groupback ::before {
  content: "";
  display: block;
}
#main-content .headerbox .groupback .backpage {
  width: 100%;
  opacity: 1;
}
#main-content .headerbox .groupback .backpage picture {
  max-width: 100%;
}
#main-content .headerbox .groupback .backpage picture .backimg {
  width: 1947px;
}
#main-content .headerbox .groupback .calamarimotion01 {
  transform: translate(var(0), var(0)) scale(var(1)) rotate(0deg);
  transition-delay: var(0.1s);
  position: absolute;
  left: 1002px;
  top: 508px;
}
#main-content .headerbox .groupback .calamarimotion01 picture .motion01 {
  width: 416px;
  max-width: 100%;
  height: auto;
}
#main-content .headerbox .groupback .calamarimotion02 {
  position: absolute;
  left: 64px;
  top: 339px;
}
#main-content .headerbox .groupback .calamarimotion02 picture .motion02 {
  width: 282px;
  max-width: 100%;
  height: auto;
}
#main-content .headerbox .groupback .calamarimotion03 {
  position: absolute;
  left: 552px;
  top: 500px;
}
#main-content .headerbox .groupback .calamarimotion03 picture .motion03 {
  width: 323px;
  max-width: 100%;
  height: auto;
}
#main-content .headerbox .groupback .calamarimotion04 {
  position: absolute;
  left: 256px;
  top: 91px;
}
#main-content .headerbox .groupback .calamarimotion04 picture .motion04 {
  width: 1193px;
  max-width: 100%;
  height: auto;
}
#main-content .headerbox .groupback .calamarimotion05 {
  opacity: 1;
  position: absolute;
  left: -48px;
  top: 80px;
}
#main-content .headerbox .groupback .calamarimotion05 picture .motion05 {
  width: 816px;
  max-width: 100%;
  height: auto;
}
#main-content .headerbox .groupback .homelogo {
  opacity: 1;
  position: absolute;
  right: 0;
  top: 80px;
}
#main-content .headerbox .groupback .homelogo .view picture .pos {
  width: 560px;
  max-width: 100%;
}
#main-content .headerbox .groupback .homelogo .relatext {
  position: relative;
  right: -120px;
  top: 0;
}
#main-content .headerbox .groupback .homelogo .relatext a {
  position: absolute;
  left: 90px;
  top: -16px;
}
#main-content .headerbox .groupback .homelogo .relatext a .drip {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 8px;
  background: yellow;
  font-family: "s2";
  font-weight: 700;
}
#main-content .headerbox .groupback .headerbanner {
  position: relative;
  top: -20px;
}
#main-content .headerbox .groupback .headerbanner .banner01 {
  height: 110px;
  background-image: url("../../public/img/home/banner-design1-medium-up.png");
  transform: rotate(1deg);
  transform-origin: 90% 50%;
  z-index: 2;
}
#main-content .headerbox .groupback .headerbanner .banner02 {
  top: 70px;
  height: 110px;
  background-image: url("../../public/img/home/banner-green-medium-up.png");
  transform: rotate(-1deg);
  transform-origin: 90% 50%;
  z-index: 2;
}
#main-content .maintool {
  position: relative;
  top: -170px;
  height: 500vh;
}
#main-content .maintool .List01 {
  height: 100%;
  background-position: top;
  background-image: url("../../public/img/home/tapes-black.jpg");
}
#main-content .maintool .List01 .Lvideo01 {
  z-index: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-content .maintool .List01 .Lvideo01 .Ltool01 {
  position: relative;
}
#main-content .maintool .List01 .Lvideo01 .Ltool01 .element03 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10% 0 calc(var(8px, 8px) * 6) 0;
  position: relative;
}
#main-content .maintool .List01 .Lvideo01 .Ltool01 .element03 .titlebanner {
  background: #ff505e;
  display: inline-block;
  transform: rotate(-4deg);
  z-index: 4;
  text-align: center;
  line-height: 1;
}
#main-content .maintool .List01 .Lvideo01 .Ltool01 .element03 .titlebanner h2 {
  font-family: "s4";
  font-weight: 700;
  font-size: 2rem;
  padding: 16px 40px 24px;
}
#main-content .maintool .List01 .Lvideo01 .Ltool01 .element03 .titlebanner::before {
  content: "";
  background-position: 100%;
  left: -61px;
  width: 62px;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  position: absolute;
  background-image: url(../../public/img//home/left-tape-red.svg);
}
#main-content .maintool .List01 .Lvideo01 .Ltool01 .element03 .titlebanner::after {
  content: "";
  background-position: 0;
  right: -58px;
  top: 0;
  width: 59px;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  position: absolute;
  background-image: url(../../public/img//home/right-tape-red.svg);
}
#main-content .maintool .List01 .Lvideo01 .Ltool01 .element03 .inview button {
  z-index: 3;
  position: relative;
  cursor: pointer;
  border: none;
  display: inline-block;
  padding: 0;
}
#main-content .maintool .List01 .Lvideo01 .Ltool01 .element03 .inview button .buton {
  bottom: 0;
  left: 50%;
  margin: 10% 0 auto;
  top: 0;
  color: rgba(41, 41, 41, 0.3176470588);
  transform: translate(-50%, -10%);
  width: 40%;
  z-index: 10;
  position: absolute;
}
#main-content .maintool .List01 .Lvideo01 .Ltool01 .element03 .inview button .buton .one {
  border-radius: 100px;
  height: 270px;
  background: rgba(0, 0, 0, 0.6901960784);
}
#main-content .maintool .List01 .Lvideo01 .Ltool01 .element03 .inview button .buton .plays {
  position: absolute;
  top: 70px;
  left: 110px;
  color: #6af7ce;
}
#main-content .maintool .List01 .Lvideo01 .Ltool02 .element06 picture {
  position: absolute;
  right: 0;
  top: 30em;
}
#main-content .maintool .List01 .Lvideo01 .Ltool02 .element07 {
  width: 100%;
  left: 0;
  top: 42em;
  position: absolute;
}
#main-content .maintool .List01 .Lvideo01 .Ltool02 .element07 .bo07 {
  position: absolute;
  z-index: 2;
  font-family: "s1";
  width: 530px;
  height: 255px;
  background-color: black;
  left: 25em;
  top: 5em;
  padding: 2em;
}
#main-content .maintool .List01 .Lvideo01 .Ltool02 .element07 .bo07::before {
  background-repeat: repeat-y;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: -2em;
  width: 40px;
  z-index: -1;
  background-image: url("../../public/img/home/left-black-tape-container.svg");
}
#main-content .maintool .List01 .Lvideo01 .Ltool02 .element07 .bo07::after {
  background-repeat: repeat-y;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 33em;
  width: 40px;
  z-index: -1;
  background-image: url("../../public/img/home/right-black-tape-container.svg");
}
#main-content .maintool .List01 .Lvideo01 .Ltool02 .element07 .bo07 h2 {
  white-space: pre-wrap;
  left: 1em;
  top: -2.2em;
  margin: auto;
  position: absolute;
  transform: rotate(-5deg);
  color: #ff9750;
  z-index: 1;
  font-size: 50px;
  text-align: center;
}
#main-content .maintool .List01 .Lvideo01 .Ltool02 .element07 .bo07 h2 span {
  display: block;
  color: white;
  font-size: 80px;
  text-transform: uppercase;
}
#main-content .maintool .List01 .Lvideo01 .Ltool02 .element07 .bo07 p {
  font-family: "s2";
  font-size: 23px;
  color: white;
}
#main-content .maintool .List01 .Lvideo01 .Ltool02 .element07 .bo07 .noLink {
  font-family: "s2";
  font-weight: 700;
  font-size: 1.4rem;
  position: absolute;
  top: 10rem;
  left: 6.2rem;
  background: #af50ff;
  width: 350px;
  height: 60px;
  border-radius: 15px;
  text-align: center;
  padding: 1em;
}
#main-content .maintool .List01 .Lvideo01 .Ltool02 .element07 .bo07 .noLink a {
  color: black;
}
#main-content .maintool .List01 .Lvideo01 .Ltool02 .element08 {
  position: absolute;
  right: 22em;
  top: 40em;
  transform: rotate(5deg);
}
#main-content .maintool .List01 .Lvideo02 .back02 {
  position: absolute;
  right: 17em;
  top: 90em;
}
#main-content .maintool .List01 .Lvideo02 .colorbox01 {
  position: absolute;
  top: 82em;
  left: 14em;
  transform: rotate(-4deg);
}
#main-content .maintool .List01 .Lvideo02 .colorbox01 .bluemo {
  position: absolute;
}
#main-content .maintool .List01 .Lvideo02 .colorbox01 h2 {
  position: absolute;
  left: 4em;
  top: 3.3em;
  width: 520px;
  color: white;
  font-weight: 800;
  font-family: "s2";
  font-size: 35px;
  text-align: center;
}
#main-content .maintool .List01 .Lvideo02 .colorbox01 video {
  position: absolute;
  top: 13em;
  left: 12.5em;
}
#main-content .maintool .List01 .Lvideo02 .colorbox01 .noLink02 a {
  color: black;
  font-family: "s2";
  font-weight: 700;
  font-size: 1.4rem;
  position: absolute;
  top: 29rem;
  left: 19.2rem;
  background: #eaff3d;
  width: 200px;
  height: 70px;
  border-radius: 15px;
  text-align: center;
  padding: 1em;
}
#main-content .maintool .List01 .Lvideo02 .colorbox02 {
  position: absolute;
  top: 70em;
  right: 62em;
  transform: rotate(4deg);
}
#main-content .maintool .List01 .Lvideo02 .colorbox02 .reamonmo {
  position: absolute;
}
#main-content .maintool .List01 .Lvideo02 .colorbox02 .reamonmo .st02 {
  fill: #eaff3d;
}
#main-content .maintool .List01 .Lvideo02 .colorbox02 h2 {
  position: absolute;
  right: -41rem;
  top: 3.3em;
  width: 520px;
  color: white;
  font-weight: 800;
  font-family: "s2";
  font-size: 35px;
  text-align: center;
}
#main-content .maintool .List01 .Lvideo02 .colorbox02 video {
  position: absolute;
  top: 14em;
  right: -38em;
}
#main-content .maintool .List01 .Lvideo02 .colorbox02 .noLink03 a {
  color: white;
  font-family: "s2";
  font-weight: 700;
  font-size: 1.4rem;
  position: absolute;
  top: 29rem;
  right: -32rem;
  background: #603bff;
  width: 200px;
  height: 70px;
  border-radius: 15px;
  text-align: center;
  padding: 1em;
}
#main-content .maintool .List01 .Lvideo03 .banerover {
  position: relative;
  top: 90rem;
}
#main-content .maintool .List01 .Lvideo03 .banerover .banerover01 {
  height: 110px;
  background-image: url("../../public/img/home/banner-design2-medium-up-2x.png");
  transform: rotate(0.8deg);
  transform-origin: 90% 50%;
}
#main-content .maintool .List01 .Lvideo03 .banerover .banerover02 {
  height: 110px;
  background-image: url("../../public/img/home/banner-green-medium-up-2x.png");
  transform: rotate(-1deg);
  transform-origin: 10% 50%;
}/*# sourceMappingURL=Home.css.map */