@charset "UTF-8";
@import "reset.css";
@import "font.css";
/*반응형, 브라우저 크기가 639px 이하일때*/
.trailervideo {
  width: 100%;
  height: 100%;
}
.trailervideo .traback {
  width: 100%;
  height: 50%;
}
.trailervideo .traback img {
  width: 100%;
  height: 100vh;
  position: fixed;
}
.trailervideo .trameun {
  border-radius: 70% 30% 72% 28%/27% 61% 39% 73%;
  width: 70px;
  height: 70px;
  background: #eaff3d;
  -webkit-animation: wave 8s ease-in-out infinite;
          animation: wave 8s ease-in-out infinite;
  position: absolute;
  top: 5%;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trailervideo .trameun .one2 {
  width: 25px;
}
@-webkit-keyframes wave {
  100% {
    border-radius: 70% 50% 72% 38%/87% 61% 89% 23%;
  }
  50% {
    border-radius: 77% 23% 54% 46%/40% 38% 62% 60%;
  }
  25% {
    border-radius: 40% 87% 30% 36%/32% 44% 82% 50%;
  }
  0% {
    border-radius: 70% 50% 72% 38%/87% 61% 89% 23%;
  }
}
@keyframes wave {
  100% {
    border-radius: 70% 50% 72% 38%/87% 61% 89% 23%;
  }
  50% {
    border-radius: 77% 23% 54% 46%/40% 38% 62% 60%;
  }
  25% {
    border-radius: 40% 87% 30% 36%/32% 44% 82% 50%;
  }
  0% {
    border-radius: 70% 50% 72% 38%/87% 61% 89% 23%;
  }
}
.trailervideo .trameun .plays {
  position: absolute;
  top: 67px;
  left: 97px;
  color: #6af7ce;
}
.trailervideo .videomodal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.trailervideo .videomodal .player {
  width: 800px;
  height: 900px;
}

@media (max-width: 414px) {
  .trailervideo {
    width: 100%;
    height: 100%;
  }
  .trailervideo .traback {
    width: 100%;
    height: 50%;
  }
  .trailervideo .traback img {
    width: 100%;
    height: 100vh;
    position: fixed;
  }
  .trailervideo .trameun {
    border-radius: 70% 30% 72% 28%/27% 61% 39% 73%;
    width: 45px;
    height: 45px;
    background: #eaff3d;
    -webkit-animation: wave 8s ease-in-out infinite;
            animation: wave 8s ease-in-out infinite;
    position: absolute;
    top: 5%;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .trailervideo .trameun .one2 {
    width: 18px;
    display: block;
  }
  @-webkit-keyframes wave {
    100% {
      border-radius: 70% 50% 72% 38%/87% 61% 89% 23%;
    }
    50% {
      border-radius: 77% 23% 54% 46%/40% 38% 62% 60%;
    }
    25% {
      border-radius: 40% 87% 30% 36%/32% 44% 82% 50%;
    }
    0% {
      border-radius: 70% 50% 72% 38%/87% 61% 89% 23%;
    }
  }
  @keyframes wave {
    100% {
      border-radius: 70% 50% 72% 38%/87% 61% 89% 23%;
    }
    50% {
      border-radius: 77% 23% 54% 46%/40% 38% 62% 60%;
    }
    25% {
      border-radius: 40% 87% 30% 36%/32% 44% 82% 50%;
    }
    0% {
      border-radius: 70% 50% 72% 38%/87% 61% 89% 23%;
    }
  }
  .trailervideo .trameun .plays {
    position: absolute;
    top: 67px;
    left: 97px;
    color: #6af7ce;
  }
  .trailervideo .videomodal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .trailervideo .videomodal .player {
    width: 370px !important;
    height: 208px !important;
  }
}/*# sourceMappingURL=Trailer.css.map */